/*downloads*/
.icon-size {
    font-size: 75px;
    color: #009688;
}

.process {
  text-align: center;
}

.homepage-badge {
    display: inline-block;
    padding: 50px;
    border-radius: 50%;
}

.homepage-badge.downloads {
    background: #fff;
    padding: 56.75px 50px;
}

.process h2 {
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
}

.process p {
    color: #7f8c8d;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
}



/*solutions*/

.all-solutions a:hover {
  text-decoration: none;
}

.solution {
    display: block;
    width: 100%;
    height: 248px;
    max-width: 349px;
    max-height: 262px;
    border-radius: 4px;
}

.solution.AceFiberAsphalt {
    background: url(../images/solutions/AceFiberAsphalt.jpg) top center no-repeat;
}

.solution.AluminumHeadwalls {
    background: url(../images/solutions/AluminumHeadwalls.jpeg) top center no-repeat;
}

.solution.BottomlessStructures {
    background: url(../images/solutions/BottomlessStructures.jpg) top center no-repeat;
}

.solution.Bridges {
    background: url(../images/solutions/Bridges.jpg) top center no-repeat;
}

.solution.Drainage {
    background: url(../images/solutions/Drainage.jpg) top center no-repeat;
}

.solution.FinishingProducts {
    background: url(../images/solutions/FinishingProducts.jpg) top center no-repeat;
}

/*missing Geogrid, Masonry, Sanitary Sewer Pipe*/

.solution.Sliplining {
    background: url(../images/solutions/Sliplining.jpg) top center no-repeat;
}

.solution.StormwaterManagement {
    background: url(../images/solutions/StormwaterManagement.jpg) top center no-repeat;
}

.solution.Tunnels {
    background: url(../images/solutions/Tunnels.jpg) top center no-repeat;
}

.solution.WaterControlStructures {
    background: url(../images/solutions/WaterControlStructures.jpg) top center no-repeat;
}

.solution h2 {
    display: block;
    margin: 0;
    padding: 10px;
    position: relative;
    top: 210px;
    background: #fff;
    opacity: 0.7;
    font-size: 14px;
    color: #4d4d4d;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-weight: bold;
    transition: color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
}

.solution h2:hover {
  color:#000;
}

/*media queries*/
@media (max-width: 767px) {
  .process > div:not(:first-child) {
      margin-top: 60px;
  }
}

@media only screen and (max-width: 480px) {
.project-post-item {
    width: 100%;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.project-title h2 {
	font-size: 26px;
}
.project-description {
  font-size: 1.2em;
}
.hp-see-all-projects-link {
	font-size: 1.1em;
}
}

@media (min-width: 768px) {
.process div:nth-child(2) .homepage-badge {
    max-width: 75%;
}

.solution h2 {
    font-size: 15px;
}

.project-title h2 {
    margin-top: 7px;
}
}
