/*downloads*/
.icon-size {
    font-size: 75px;
    color: #009688;
}

.badge-wrapper {
    display: inline-block;
    padding: 50px;
    border-radius: 50%;
    background: #fff;
    padding: 50px;
    border-radius: 100px;
}


/*media queries*/
