body, html {
    margin: 0;
    padding: 0;
    color: #4d4d4d;
    font: 14px/1.4 Helvetica,Arial,sans-serif;
    line-height: 1.5;
    position: relative;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

.hero-downloads {
    background: rgba(36, 36, 36, 0.9) center fixed no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-position: 25% center;
}

.has-shadow {
  border: 1px solid #d2d2d2;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
}

.paragraph-main {
    font-size: 16px;
    color: #7f8c8d;
    line-height: 1.72;
}

.table-stripe {
  width: 100%;
}

.table-stripe tr:nth-child(even) {
  background: #f9f9f9;
}

.table-stripe tr td {
  padding: 5px;
}

/*hero*/
.hero {
    color: #fff;
    top: 0;
    width: 100%;
    min-height: 60vh;
    padding-top: 70px;
}

#logo {
    display: inline-block;
    margin-right: 15px;
    max-width: 260.5px;
}

.icon-logo {
  padding: 0;
  opacity: 0.6;
}

.icon-logo:hover {
	opacity: 1;
}

.mobile-menu {
    float: right;
}

.material-icons.md-36 {
    font-size: 36px;
}

.heading {
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #4d4d4d;
}

.heading.home {
    font-size: 30px;
    margin-bottom: 36px;
    font-weight: 300;
}

.align.center {
    text-align: center;
}

.hero-content {
    color: #fff;
    display: block;
    position: relative;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.hero-content h1 {
    font-family: 'Montserrat',Helvetica,Arial,san-serif;
    font-size: 48px;
    line-height: 1.2em;
    margin: 30px 0 15px;
}

.hero-content p {
    line-height: 1.2em;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 90px;
}

/*page section*/
.page-section {
    display: inline-block;
    width: 100%;
    padding: 80px 0px;
}

.page-section.striped:nth-child(odd) {
  background: #f5f5f5;
}

.page-section h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin: 0 0 60px;
  color: #4d4d4d;
}

.page-section.striped:nth-child(odd) h1 {
  color: #2c3e50;
}

/**carousel**/
.carousel {
    padding: 0 50px
}

.carousel-control {
  position: absolute;
  top: 0;
  width: 50px;
  color: #333;
  opacity: 1;
}
.carousel-control.left {
  left: 0;
  background: transparent;
}
.carousel-control.right {
  right: 0;
  background: transparent;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #333;
  opacity: 1;
}

.material-icons.chevron {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    font-size: 50px;
}

.material-icons.chevron-left {
    left: 0;
}

.material-icons.chevron-right {
    right: 0;
}


/*footer*/
footer {
    background-color: #242424;
    padding: 40px 0;
    line-height: 24px;
}

footer ul {
    position: relative;
    list-style: none;
    text-align: center;
    max-width: 1060px;
    padding: 0;
    margin: auto;
}

footer ul li {
    display: inline-block;
    margin-right: 15px;
    font-size: 16px;
    vertical-align: middle;
    line-height: 30px;
}

footer ul li a, footer ul li a:visited, footer ul li a:active {
    text-decoration: none;
    color: #ecf0f1;
    opacity: 0.5;
}

footer ul li a {
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity .25s ease;
}

footer ul li a:hover {
    opacity: 0.8;
    color: #ecf0f1;
    text-decoration: underline;
}

footer ul:last-child li {
    color: #ecf0f1;
    opacity: 0.5;
}


/*media queries*/
@media (max-width: 991px) {
  #logo {
      width: calc(100% - 55px);
  }
}

@media only screen and (max-width: 768px) {
.hero {
    background: radial-gradient( rgba(36, 36, 36, 0.9), rgba(36, 36, 36, 1) ), url(../images/HeroMedium.jpg) top center fixed no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-position: 25% center;
}
.carousel.slide {
    display: none;
}
}

@media only screen and (max-width: 480px) {
.hero-content h1 {
    font-size: 36px;
}.hero-content p {
    font-size: 22px;
    margin-bottom: 70px;
}
}

@media (min-width: 769px) {
.hero {
    background: radial-gradient( rgba(36, 36, 36, 0.9), rgba(36, 36, 36, 1) ), url(../images/Hero.jpg) top center fixed no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-position: 25% center;
}
}

@media (min-width: 1025px) {
  .main > .spacing {
      padding: 25px 0px;
  }
  .hero-content {
      width: 75%;
  }
}

@media (min-width: 1300px) {
.container-fluid {
    margin: 0 89.5px;
}
}
