/*nav*/
.loaded main {
  background: #fff;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.loaded.nav-visible main {
  -webkit-transform: translate3d(-230px,0,0);
  transform: translate3d(-230px,0,0);
}

.mobile-menu {
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  height: 36px;
  opacity: 0.6;
}

.nav-mobile {
    height: 100%;
    width: 230px;
    background: #222527;
    color: #636363;
    position: fixed;
    padding: 25px 15px;
    overflow-y: auto;
    right: 0;
    top: 0;
    z-index: 0;
}

.nav-mobile h1 {
    font-size: 21px;
    font-weight: 300;
    margin-top: 7px;
    margin-bottom: 0;
}

.nav-mobile ul {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}

.nav-section {
  margin-bottom: 25px;
}

.nav-section-heading, .nav-section-heading:hover {
  color: #85888d;
}

.nav-section-heading h3 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0;
}

.nav-section ul {
    margin: 10px 0;
}

.nav-section li {
    padding: 10px 0;
}

.nav-section li a {
  color: #fff;
}

@media (min-width: 992px) {
.desktop-menu {
    float: right;
    padding-top: 30px;
    list-style: none;
}
/*primary nav items*/
.dropdown {
  display: inline-block;
}
.dropdown > a {
  display: block;
  color: #fff;
  opacity: 0.6;
  transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 800;
  padding: 10px 15px 17px;
}
.dropdown > a:hover {
  opacity: 1;
  color: #fff;
  text-decoration: none;
}
/*nav dropdown lists*/
.dropdown-options {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
  background: #fff;
  opacity: 0;
  position: absolute;
  top: 45px;
  bottom: 0;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transform: perspective(10em) rotateX(2deg) scale(0.92);
  transform: perspective(10em) rotateX(2deg) scale(0.92);
  padding: 0;
  border-radius: 2px;
  -webkit-box-shadow: 0px 33px 55px rgba(0,0,0,0.1);
  box-shadow: 0px 33px 55px rgba(0,0,0,0.1);
  z-index: 1;
  list-style: none;
  pointer-events: none;
}
#products .dropdown-options{
  left: -32px;
}
#applications .dropdown-options {
  left: -10px;
}
#markets .dropdown-options {
  left: -22px;
}
#about .dropdown-options {
  left: -28px;
}
.dropdown-options:before {
  position: absolute;
  content: " ";
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  border: solid;
  border-width: 0 10px 10px;
  border-color: #fff transparent;
}
/*dropdown hover trigger*/
.dropdown:hover .dropdown-options {
  opacity: 1;
  -webkit-transform: perspective(10em) rotateX(0deg) scale(0.92);
  transform: perspective(10em) rotateX(0deg) scale(0.92);
  pointer-events: auto;
}
/*dropdown hover links*/
.dropdown-options a {
  background: #fff;
  color: #636363;
  padding: 12px 16px;
  display: block;
}
.dropdown-options a:hover {
  background: #f1f1f1;
}
}
