.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li {
    float: none;
    margin-left: 40px;
    display: inline-block;
}

.nav-tabs > li:first-child {
    margin-left: 0;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 35px 15px;
    margin-right: 0;
    border: none;
}

.nav-tabs>li>a:hover {
    border-color: transparent;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #979c9f;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

@media (min-width: 768px) {
.section {
    padding: 40px 0;
}
}
